{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block pagestylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/maithcommonadmin/admin/vendor/chosen/chosen.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/maithcommonadmin/admin/vendor/datatables/jquery.dataTables.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/maithcommonadmin/admin/vendor/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/maithcommonadmin/admin/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/maithcommonadmin/admin/js/datatables.js') }}"></script>
{% endblock %}

{% block body %}
<section class="panel panel-color">
  <header class="panel-heading text-uppercase"><i class="fa fa-lg fa-cogs"></i> {% trans %}admin_project_title{% endtrans %}</header>
  <div class="panel-body">
    <div class="table-responsive no-border">
      <table class="table table-bordered table-striped mg-t datatable dataTable">
        <thead>
          <tr>
            <th>{% trans %}admin_project_order{% endtrans %}</th>
            <th>{% trans %}admin_project_name{% endtrans %}</th>
            <th>{% trans %}admin_project_cliente{% endtrans %}</th>
            <th>{% trans %}admin_project_tipo_trabajo{% endtrans %}</th>
            <th>{% trans %}admin_project_actions{% endtrans %}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>{% trans %}admin_project_order{% endtrans %}</th>
            <th>{% trans %}admin_project_name{% endtrans %}</th>
            <th>{% trans %}admin_project_cliente{% endtrans %}</th>
            <th>{% trans %}admin_project_tipo_trabajo{% endtrans %}</th>
            <th>{% trans %}admin_project_actions{% endtrans %}</th>
          </tr>
        </tfoot>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.orden }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.cliente }}</td>
                <td>{{ project.tipodetrabajo }}</td>
              <td>
                  <a href="{{ path('admin_project_edit', { 'id': project.id }) }}"><i class="fa fa-pencil-square-o fa-2x"></i></a>
              </td>
            </tr>
        {% endfor %}          
          </tbody>
        </table>
      </div>
    </div>
  </section>
  
<div class="row">
  <div class="col-lg-12 text-left">
      <a href="{{ path('admin_project_new') }}" class="btn btn-success">
          <i class="fa fa-pencil-square-o"></i> {% trans %}admin_project_create{% endtrans %}
      </a>
  </div>
</div>
{% endblock %}
